@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


$our-font: 'Comic Sans MS', sans-serif;
$color-primary: #A51C30;
$imported-font: 'Poppins', sans-serif;


.my-class{
    font-size: 100px;
    font-family: $our-font;
    background-color: $color-primary;
}

.dashboard{
    .dashboard-outermost{
        background-color: #eee;
        height: 100vh;
        width: 100vw;
    }
    
    .dashboard-container{
        margin: auto;
        height: 100vh;
        width: 1000px;
        background-color: white;
    }
}