@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$our-font: "Comic Sans MS", sans-serif;
$color-primary: rgb(230, 227, 224);
$imported-font: "Poppins", sans-serif;

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #333;
  text-emphasis: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

.my-class {
  font-size: 100px;
  font-family: $our-font;
  background-color: $color-primary;
}

.inline {
  display: inline;
}

.dashboard {
  .dashboard-outermost {
    background-color: #eee;
    height: 100vh;
    width: 100vw;
  }

  .dashboard-container {
    margin: auto;
    height: 100vh;
    width: 1000px;
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-y: scroll;
  }
}

.postcomp-outermost {
  width: 100%;
  // height: 250px;
  background-color: #efefef;
  margin-bottom: 2rem;

  .post-col {
    float: left;
  }

  .left-col {
    height: 100%;
    width: 15%;
    // background-color: green;
    font-size: 2rem;
    text-align: center;

    .left-col-inner {
      margin-top: 34px;
    }
  }

  .mid-col {
    margin-top: 1rem;
    // height: 100%;
    position: relative;
    width: 75%;

    .mid-col-inner {
      margin-bottom: 0;
      height: calc(100% - 3rem);

      overflow-y: scroll;
    }

    .mid-col-body {
      font-size: 1rem;
      * {
        display: block;
      }
       code {
        white-space: pre-wrap;
       }
    }
  }

  .right-col {
    height: 100%;
    width: 10%;
    // background-color: green;
    padding: 1rem;

    .post-avatar {
      float: right;
      background-size: contain;
      height: 60px;
      width: 60px;
    }
  }
}

header {
  background-color: $color-primary;
  padding: 10px;
  height: 108px;
  .top-bar {
    
    .orcl-logo {
      background-image: url("https://i.gyazo.com/41493426a776f170de892c1b5258f401.png");
      height: 35px;
      width: 200px;
      background-size: cover;
      display: inline-block;
    }
    span{
      vertical-align: super;
    }

  }

  .bottom-bar {
    width: 100%;
    position: relative;
    background-color: red;
    ul {
      position: absolute;
      right: 0;
      li {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }
}

footer{
  background-color: $color-primary;
  width: 100%;
  height: 60px;
  // padding: 10px;

  div {
    background-color: $color-primary;
    margin-left: 10px;
    span {
      color: #ae562c;
      margin-right: 10px;
    }
  }
}

.cpost{
  .container{
      max-width: 100%;
      justify-content: center;
  }

  .content{
      width: 100%;
      max-width: 1264px;
      min-height: 750px;
      margin: auto;
  }

  .title{
      width: 100%;
      height: 130px;
      padding-top: 24px;
      padding-bottom: 24px;

  }
  
  .headline{
      font-size: 2.07692308rem;
      vertical-align: baseline;
      padding: 20;
  }

  .mygrid{
      width: 70%;
      float: left;
  }

  .editbar{
      display: block;
      float: left;
      min-width: 0px;
      width: 100%;
      padding: 16px;
      box-shadow: 0px 0px 5px #888888;
  }

  .step_block{
      float: right;
      width: 28%;
      min-height: 200px;
      box-shadow: 0px 0px 5px #888888;
      padding: 10px;
  }

  .submit_btn{
      width: 150px;
      height: 38px;
      border-radius: 10%;
      background-color: #efefef;
  }

  #input_title, #input_body, #input_tag{
      width: 100%;
      text-align: start;
  }
  #input_body {
      height: 200px;
  }
}

.comment-body{
  * {
    display: block;
  }
   code {
    white-space: pre-wrap;
   }
}